.content[role='main']{margin-top: 117px; margin-right: 315px}
.content[role='main'] .sheets{margin-right: 0}

.thing .entry .expando .md, .infobar, .content.submit .info-notice, .roundfield, .linefield, .comment-visits-box, .usertext-edit textarea, .thing.spam, .res .RESDialogSmall.livePreview, .res .RESDialogSmall.livePreview h3, #report-action-form{border-radius: 0px}

.linefield.mobile{border: 0}

.reddit-infobar:not(.cookie-infobar){background-color: #8C7518; border: 0;}
.reddit-infobar.with-icon:not(.cookie-infobar):before{background-color: #A78A18;}

.stylesheet-customize-container textarea{max-width: 100%}
ul.image-preview-list .description pre{color: $primary;}

.infobar{margin: 5px 0}
.NERPageMarker { background-color: transparent !important; border-color: #2F2F2F; border-left: none; border-right: none; border-radius: 0 !important;}


/* LISTING */

#siteTable_organic.organic-listing, .link.promotedlink.promoted{background-color: transparent !important}
#siteTable_organic.organic-listing .thing{padding-top: 15px;}
#spotlight-help{margin-top: 117px}

.thing.spam{background-color: #2F0500; overflow: visible;}

.link, .combined-search-page .search-result-link{margin-bottom: 12px}
.link:first-child, .combined-search-page .search-result-link:first-child{padding-top: 7px}
.link.last-clicked{padding-top: 8px}

.linklisting .link .rank{font-size: 200%; color: #2F2F2F}

.arrow.down,.arrow.downmod,.arrow.up,.arrow.upmod{background-image: url(%%arrows%%) !important; height: 14px; width: 15px}
.arrow.down{background-position: -21px 0px}
.arrow.downmod{background-position: 0px 0px}
.arrow.up{background-position: -63px 0px}
.arrow.upmod{background-position: -42px 0px}

.thumbnail{border-radius: 50%; margin: -5px 12px 5px 3px; height: 70px; position: relative; color: $secondary;}

.thumbnail img, .thumbnail.self, .thumbnail.default{height: 70px !important; width: 70px !important}
.thumbnail img{position: absolute; width: initial; left: -1000%; right: -1000%; top: -1000%; bottom: -1000%; margin: auto}

.thumbnail.self, .thumbnail.default{background: url(%%logobw-opaque%%); background-position: 0 0; background-size: 100% 100%}

.thing p.title{padding-bottom: 2px}

.expando-button {
	transition: opacity 0.5s;
	background-image: url(%%expando-spritesheet%%) !important;
	
	&:hover {
		opacity: 0.6;
	}
	
	&.expanded {
    	background-position: 0px 0px !important;
	}
	
	&.collapsed.selftext {
	    background-position: 0px -147px !important;
	}
	
	&.collapsed.video {
	    background-position: 0px -59px !important;
	}
}

.tagline{line-height: 13px;}

.thing.stickied a.title, .tagline .stickied-tagline {color: $stickies !important}

#report-action-form input[name='other_reason']{border-radius: 7px}
#report-action-form input[name='other_reason'][disabled]{background-color: #333}

/* SUBMIT PAGE */

.formtabs-content{border-top: 4px solid $dw-blue}
.content[role="main"] ul.tabmenu.formtab, .content[role="main"] ul.tabmenu{padding-left: 0;}
.content[role="main"] .tabmenu li{font-weight: normal !important;}
.content[role="main"] .tabmenu.formtab li a, .content[role="main"] .tabmenu li a{color: white !important; border: 0 !important; background-color: #252525; height: 35px; display: inline-block; line-height: 35px; text-align: center; font-size: 14px !important; transition: background-color .3s ease-out;}
.content[role="main"] .tabmenu.formtab li a{width: 110px;}
.content[role="main"] .tabmenu.formtab li a:hover, .content[role="main"] .tabmenu li a:hover{background-color: $dw-red;}
.content[role="main"] .tabmenu.formtab li.selected a, .content[role="main"] .tabmenu li.selected a{background-color: $dw-blue;}

#sr-autocomplete-area{z-index: 98}

/* COMMENTS PAGE */

.usertext.grayed .usertext-body, .usertext.border .usertext-body, .comment.new-comment .usertext-body{margin: 5px 0 0 0; padding: 0 5px; border-radius: 2px; display: inline-block; border: 0}
.usertext.grayed .usertext-body{background-color: #2F2F2F} /* deleted comment highlight */
.usertext.border .usertext-body{background-color: #2D2D22} /* linked comment highlight */
.comment.new-comment .usertext-body{background-color: #353535}  /* new comment highlight */
.res-commentBoxes .comment .comment .comment, .res-commentBoxes .comment .comment .comment .comment .comment, .res-commentBoxes .comment .comment .comment .comment .comment .comment .comment, .res-commentBoxes .comment .comment .comment .comment .comment .comment .comment .comment .comment {background-color: $primary-bg !important; border-color: $secondary !important;}

.new-comment .md :not(pre)>code, .link .md :not(pre)>code, .usertext.border .md :not(pre)>code, .new-comment .md pre, .link .md pre, .usertext.border .md pre, .md code {background-color: transparent; border-radius: 0;}

/* LINE NUMBERS */

.md pre{position:relative; padding: 0;}
.md pre code{padding-left: 40px !important; background-image: repeating-linear-gradient(180deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 20px, $primary-bg 20px, $primary-bg 40px);}
.md pre code:before{position: absolute; height: 100%; width: 30px; background: $darker-primary-bg; white-space: pre-wrap; direction: rtl; overflow: hidden; left: 0px; padding-right: 5px; content: "1   2   3   4   5   6   7   8   9  10  11  12  13  14  15  16  17  18  19  20  21  22  23  24  25  26  27  28  29  30  31  32  33  34  35  36  37  38  39  40  41  42  43  44  45  46  47  48  49  50  51  52  53  54  55  56  57  58  59  60  61  62  63  64  65  66  67  68  69  70  71  72  73  74  75  76  77  78  79  80  81  82  83  84  85  86  87  88  89  90  91  92  93  94  95  96  97  98  99 100 101 102 103 104 105 106 107 108 109 110 111 112 113 114 115 116 117 118 119 120 121 122 123 124 125 126 127 128 129 130 131 132 133 134 135 136 137 138 139 140 141 142 143 144 145 146 147 148 149 150 151 152 153 154 155 156 157 158 159 160 161 162 163 164 165 166 167 168 169 170 171 172 173 174 175 176 177 178 179 180 181 182 183 184 185 186 187 188 189 190 191 192 193 194 195 196 197 198 199 200 201 202 203 204 205 206 207 208 209 210 211 212 213 214 215 216 217 218 219 220 221 222 223 224 225 226 227 228 229 230 231 232 233 234 235 236 237 238 239 240 241 242 243 244 245 246 247 248 249 250";}

/* SEARCH PAGE */

.combined-search-page .search-result-group-header{margin: 0;}
.combined-search-page .search-result-meta a:hover{text-decoration: underline}
.combined-search-page a.author.moderator, .combined-search-page .userattrs a.moderator{color: #282}
.combined-search-page .search-result .search-expando.collapsed:before{background: rgba(255, 255, 255, 0); background: -moz-linear-gradient(top,rgba(255,255,255,0) 0%,$darker-primary-bg 100%); background: -webkit-linear-gradient(top,rgba(255, 255, 255, 0) 0%,$darker-primary-bg 100%); background: -o-linear-gradient(top,rgba(255,255,255,0) 0%,$darker-primary-bg 100%); background: -ms-linear-gradient(top,rgba(255,255,255,0) 0%,$darker-primary-bg 100%); background: linear-gradient(to bottom,rgba(255, 255, 255, 0) 0%,$darker-primary-bg 100%)}

.combined-search-page .thumbnail{border-radius: 50%; margin: 0px}
.combined-search-page #search input[type=text]{border-radius: 0}

.combined-search-page header mark {
	vertical-align: middle;
}

.combined-search-page .search-subscribe-button .add:hover, .combined-search-page .search-subscribe-button .remove:hover{text-decoration: none}
.combined-search-page .search-subscribe-button .add:focus, .combined-search-page .search-subscribe-button .remove:focus{box-shadow: none;}

/* WIKI PAGE */

.wiki-page .wiki-page-content .discussionlink{margin-left: 0; padding: 1px 8px}
.wiki-page .wiki-page-content .discussionlink a{padding-left: 0}

.wiki-page .pageactions{border: 0; border-radius: 0; border-bottom: 4px solid $dw-blue;}
.wiki-page .pageactions .wikiaction{margin: 0 3px; border-radius: 0; background-color: #252525; color: white; transition: background-color .3s ease-out;}
.wiki-page .pageactions .wikiaction-current{background-color: $dw-blue;}
.wiki-page .pageactions .wikiaction:hover{background-color: $dw-red;}

#WikiAllowEditor button[type='submit']{margin-left: 8px}

/* FLAIRS PAGE */

#flair_jump_name + button[type='submit']{margin-left: 8px; height: 29px; vertical-align: top;}
.flair-settings ~ .tabpane-content{border: 0; border-top: 4px solid $dw-blue;}

.usertable > .toggle .togglebutton, .usertable > .toggle .error{border: 0; padding: 0; margin: 0; color: white;}
.usertable > .toggle .error a{color: white; text-decoration: underline;}

/* FOOTER */

.flat-vert.title{font-size: 17px; padding-bottom: 5px; margin-bottom: 10px;}
.footer, .footer .col{border: 0}
