.header-icon-spreadsheet {
	background-image: url(%%spritesheet-header%%) !important;
}

.header-icon {
	display: inline-block;
	vertical-align: middle;
	font-size: 0;
	width: 16px;
	height: 14px;
}

.thumbnail-overlay {
	position: absolute;
	display: block;
	width: 70px;
	height: 70px;
	line-height: 70px;
	padding: 0;
	margin: 0;
	text-align: center;
	background: none;
	border: 0;
	font-size: 10px;
	opacity: .9;
	overflow: hidden;
	text-overflow: ellipsis;
	pointer-events: none;
	z-index: 5;
}
