/* USER FLAIRS, LINK FLAIRS IN SIDEBAR AND LINK FLAIRS WITHOUT THUMBNAILS */

.flair, .linkflairlabel{border-radius: 0; border: 0; vertical-align: middle;}
.flair{background: none;}
.linkflairlabel{padding: 2px 3px;}

.flair:before {content: ""; border: none !important; top:20px; padding:0px; background: url(%%spritesheet%%); display:inline-block; vertical-align: middle;}

.flair-css, .flair-css:before, .flair-html, .flair-html:before, .flair-js, .flair-staff{width: 14px; height: 16px;}
.flair-css:before {background-position: -2px -2px;}
.flair-html:before {background-position: -20px -2px;}
.flair-js:before {width: 15px; height: 16px; background-position: -38px -2px;}
.flair-staff:before {width: 16px; height: 16px; background-position: -57px -2px;}

/* LINK FLAIRS AND FAKE LINK FLAIRS FOR SELF POSTS AND POSTS W/O THUMBNAIL */

.content[role='main'] .link.linkflair .thumbnail ~ .entry .linkflairlabel, .content[role='main'] .search-result-link.has-linkflair .thumbnail ~ div header .linkflairlabel{display: none}

.content[role='main'] .link.linkflair .thumbnail:before,
.content[role='main'] .link:not(.linkflair) .thumbnail.default:before,
.content[role='main'] .link:not(.linkflair) .thumbnail.self:before,
.content[role='main'] .search-result-link.has-linkflair .thumbnail:before,
.content[role='main'] .search-result-link.no-linkflair .thumbnail.default:before,
.content[role='main'] .search-result-link.no-linkflair .thumbnail.self:before
{position: absolute; display:block; width: 70px; height: 70px; line-height: 70px; padding: 0; margin: 0; text-align: center; background: none; border: 0; font-size: 10px; opacity: .9; overflow: hidden; text-overflow: ellipsis; pointer-events: none; z-index: 5}

.content[role='main'] .link.linkflair-suggestion .thumbnail:before, .content[role='main'] .search-result-link.linkflair-suggestion .thumbnail:before{content:"Suggestion"; font-size: 11px !important}
.content[role='main'] .link.linkflair-news .thumbnail:before, .content[role='main'] .search-result-link.linkflair-news .thumbnail:before{content:"News"; font-size: 16px !important}
.content[role='main'] .link.linkflair-submission .thumbnail:before, .content[role='main'] .search-result-link.linkflair-submission .thumbnail:before{content:"Submission"; font-size: 11px !important}
.content[role='main'] .link:not(.linkflair) .thumbnail.default:before, .content[role='main'] .search-result-link.no-linkflair .thumbnail.default:before{content:"Link"; font-size: 14px !important}
.content[role='main'] .link:not(.linkflair) .thumbnail.self:before, .content[role='main'] .search-result-link.no-linkflair .thumbnail.self:before{content:"Text post"; font-size: 12px !important}

.content[role='main'] .link.linkflair .thumbnail:not(.default):not(.self):before, .content[role='main'] .search-result-link.has-linkflair .thumbnail:not(.default):not(.self):before{background-color: rgba(0,0,0,0.74)} /* posts with thumbnail + link flair */
