.res {
	#NREFloat{top: 78px}

	#RESShortcutsEditContainer{height: 18px}
	#RESShortcutsSort, .res #RESShortcutsRight, .res #RESShortcutsLeft, .res #RESShortcutsAdd, .res #RESShortcutsTrash{line-height: 18px}

	#userbarToggle{background-color: transparent; border-radius: 0; color: white; border: 0; position: static; line-height: inherit;}
	#header-bottom-right.res-userbar-toggle > .user {margin-left: 0px;}
	.gearIcon::after{content: ""; text-shadow: none;}

	#RESPrefsDropdown{position:fixed}
	.commentarea .RES-keyNav-activeElement .md, .res .RES-keyNav-activeElement, .res .RES-keyNav-activeElement .md-container{background-color: transparent !important}

	.usertext-edit .RESDialogSmall .md.RESDialogContents{background: none !important}

	.RESDialogSmall.livePreview h3{border-bottom-left-radius: 0; border-bottom-right-radius: 0}

	.RESSubscriptionButton{line-height: 12px; height: 12px; vertical-align: bottom}

	.entry{padding: 1px 6px 1px 1px;}
	.RES-keyNav-activeElement{padding: 0 5px 0 0 !important;}

	.res-commentBoxes .comment, .res .res-commentBoxes.res-commentBoxes-rounded .comment{border-radius: 0 !important;}

	.res-commentBoxes .comment{border: 1px solid $secondary !important}

	.res-commentBoxes .comment,
	.res-commentBoxes .comment .comment,
	.res-commentBoxes .comment .comment .comment,
	.res-commentBoxes .comment .comment .comment .comment,
	.res-commentBoxes .comment .comment .comment .comment .comment,
	.res-commentBoxes .comment .comment .comment .comment .comment .comment,
	.res-commentBoxes .comment .comment .comment .comment .comment .comment .comment,
	.res-commentBoxes .comment .comment .comment .comment .comment .comment .comment .comment{background-color: transparent !important}

	.gearIcon::after {
		@extend %header-icon-spreadsheet;
		@extend %header-icon;
		background-position: -48px -0px;
	}
}
